*, *::before, *::after {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

:root {
    --color-main: rgba(215, 155, 240, 0.838);
    --color-secondary: rgba(0, 255, 238, 0.598);
}
header {
    justify-content: center;
    align-items: center;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
}

.first-page {
    width: 800px;
    max-width: 80%;
    background-color: var(--color-main);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 4px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.start-button {
    align-items: center;
}

#question-container {
    width: 800px;
    max-width: 80%;
    background-color: var(--color-main);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 10px 4px;
}

.question-btns {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 10px;
}

.btn {
    background-color: var(--color-secondary);
    border: 1px solid black;
    border-radius: 10px;
    color: white;
}

.btn:hover {
    border-color: black;
    background-color: blueviolet;
}

.hide {
    display: none;
}